@import '../../styles/base/variables';

body {
  padding-top: $header-height !important;
}

header {
  background-color: $darkslategray;
  height: $header-height;
  color: #fff;
  margin-bottom: 20px !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  .row {
    height: $header-height;
    align-items: center;
  }
  .header-logo-invertocat {
    color: #fff;

    path {
      fill: #fff;
    }
  }

  .header-search-wrapper {
    height: 30px;
    font-size: inherit;
    margin-left: 15px;
    display: block;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    
    .header-search-input {
      min-height: 30px;
      padding-left: 10px;
      background: none;
      width: 300px;
      border: 0;
      box-shadow: none;
      color: #fff;
      border-radius: 3px;
      outline: none;
    }
  }

  .search-bnt {
    color: $silver;
    font-weight: bold;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
  
}
